
.hendeBox {
    width: 100%;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    padding: 10px;
}
.hendeBox:hover {
    background-color: rgba(217, 241, 241, 0.8);
}
.hende-box-left h2 {
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 24px;
}
.hende-box-left p {
    text-align: left;
}
.hende-box-btn {
    margin-top: 24px;
    margin-bottom: 98px;
  
}

.button-pinck{
    background-color: rgba(227, 35, 89, 1);
    color: var(--color-white);
	font-size: 16px;
	padding: 8px 66px;
	border: none;
	border-radius: 8px;
	text-decoration: none;
	cursor: pointer;
	white-space: nowrap;

}
.button-pinck:hover {
	background-color: rgb(254, 78, 128);
}
.hende-smoll {
    display: none;
    text-align: center;
}


@media (max-width: 1600px) {
	.container {
		max-width: 95%;
	}
    .hende-box-left h2 {
        font-size: 35px;
        padding-bottom: 20px;
    }
}

@media (max-width: 1300px) {
	.container {
		max-width: 95%;
	}
    .hende-box-left h2 {
        font-size: 25px;
        padding-bottom: 20px;
    }

}

@media (max-width: 992px) {
	.container {
		max-width: 95%;
	}
    .hende-box-rigt {
        display: none;
    }
    .hende-smoll {
        display: inline;
        max-width: 238px;
        max-height: 137px;
        margin-bottom: 100px;
    }
    .hende-box-left h2 {
        padding-bottom: 0;
        font-size: 20px;  
    }
    .hendeBox {
        width: 100%;
        flex-direction: column;
        margin-top: 50px;
        row-gap: 24px;
        text-align: center;
    }
}

@media (max-width: 768px) {
	.container {
		max-width: 95%;
	}
}

@media (max-width: 576px) {
	.container {
		max-width: 95%;
	}
    .hende-smoll {
        margin-bottom: 30px;
    }
	.button {
		width: 80%;
		font-size: 14px;
	}

}

