.headerBox {
    width: 100%;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerBox h2 {
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 24px;
}
.header-box-btn {
margin-top: 24px;
margin-bottom: 98px;
}


@media (max-width: 992px) {
.headerBox {
    width: 100%;
    flex-direction: column;
    margin-top: 50px;
    row-gap: 24px;
    text-align: center;
}
.headerBox h2{
    text-align: center;
    font-size: 34px;
}
.bicicleBtn {
    display: none;
}
}

@media (max-width: 768px) {
.header-box-left {
    min-width: 750px;
}
.headerBox h2 {
    max-width: 100%;
    overflow-wrap: break-word;
}
}

@media (max-width: 576px) {
	.headerBox {
        text-align: center;
        margin-top: 15px;

    }
    .headerBox p {
        font-size: 14px;
    }
    .headerBox h2 {
        font-size: 30px;
        text-align: center;
    }
    .header-box-left {
        min-width: 400px;
        padding: 15px;
    }
    .header-box-right img {
        width: 80%;
    }
}